@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TungstenBold;
  src: url('/fonts/Tungsten-Bold.ttf');
}

@font-face {
  font-family: TungstenSemibold;
  src: url('/fonts/TungstenNarrow-Semibold.ttf')
}